/* Art Page Styles */
   
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;
    text-align: center;
}

.image-grid img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer; 
    filter: sepia(0%);
    transition: filter 0.5s ease-in-out, transform 0.3s ease; 
}

.image-grid img:hover {
    filter: sepia(0%);
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .image-grid {
        flex-direction: column; /* Stacks the sidebar for mobile */
    }
}