/* Writing Page Specific Styles & Layout */

.writing-layout {
    display: flex;
    gap: 2.25rem;
    flex-wrap: wrap;
}

.story-sidebar {
    flex: 1 1 30%; 
    min-width: 400px;
}

#castle-img {
    width: 370px;
    margin: 0 auto 0rem auto;
    display: block;
}

#waterfall-img {
    width: 50px;
    margin: 0 auto 1rem auto; 
    display: block;
}

.main-story-area {
    flex: 2 1 60%;
}

.writing-piece {
    text-align: left;
    margin-bottom: 2rem;
}

.writing-piece h3 {
    margin-bottom: 1rem;
}
.writing-piece h2 {
    color: #0056b3;
    margin-bottom: 0.5rem;
}
.writing-piece p {
    font-family: Georgia, serif;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .writing-layout {
        flex-direction: column; 
    }
}
